<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @relationship.client_id %>
</p>

<p>
  <b>Prospect:</b>
  <%= @relationship.prospect_id %>
</p>

<p>
  <b>Info:</b>
  <%= @relationship.info %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
